/* Buat Active link navbar */

#app {
    font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
}

.btn-success {
    background-color: #011526;
}

.badge-success {
    background-color: #011526;
}

.card-product {
    border-radius: 15px;
}

.card-img-top {
    border-radius: 15px 15px 0 0;
}
 .breadcrumb{
     background-color: transparent;
     padding: 0;
 }
 .breadcrumb-item.active{
     font-weight: bold;
     color: black;
 }

 .img-fluid {
     border-radius: 15px;
 }